body#workoutRandomizer #workouts button {
	background-color: rgb(100, 200, 120);
	border: 0;
	color: rgb(255, 255, 255);
	display: block;
	font-weight: bold;
	margin-bottom: 2em;
	outline: 0;
	width: 200px;
	height: 40px;
}

body#workoutRandomizer #workouts button:hover {
	cursor: pointer;
}

body#workoutRandomizer #workouts button.unselectedWorkout {
	display: none;
}

body#workoutRandomizer #workouts button.selectedWorkout {
	background-color: rgb(0, 0, 0);
	display: block;
	height: 80px;
	width: 400px;
}

body#workoutRandomizer #workouts button.selectedWorkout:hover {
	cursor: default;
}

body#workoutRandomizer #workouts button.setButt {
	background-color: rgb(200, 100, 120);
	display: none;
}

body#workoutRandomizer #workouts button.setButt.next {
	display: block;
}
